<div class="loginform">
	<div class="row" ng-if="msg">
		<div class="alert alert-warning" role="alert">{{msg}}</div>
	</div>
	<div class="row login_box">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="outter"><img src="img/container.jpg" class="image-circle"/></div>
            <h1>GO-Docker</h1>
	    </div>

        <div class="col-md-12 col-xs-12 login_control">
           <form ng-submit="authenticate()" ng-keyup="$event.keyCode == 13 && authenticate()">
                <div class="control">
                    <div class="label">User identifier</div>
                    <input type="text" class="form-control" ng-model="uid"  placeholder="admin@gmail.com"/>
                </div>

                <div class="control">
                     <div class="label">Password</div>
                    <input type="password" class="form-control" ng-model="password"/>
                </div>
                <div align="center">
                     <button type="submit" class="btn btn-orange">LOGIN</button>
                </div>
           </form>

        </div>
		<div class="col-md-12 col-xs-12 login_control" ng-if="config.guest.length>0">
			<h3 align="center">Guest access with social authentication</h3>
			<a href="/login/google" class="btn btn-block btn-social btn-google" ng-if="config.guest.indexOf('google') > -1"><span class="fa fa-google-plus"></span> Google</a>
			<a href="/login/github" class="btn btn-block btn-social btn-github" ng-if="config.guest.indexOf('github') > -1"><span class="fa fa-github"></span> GitHub</a>
		</div>

    </div>
</div>
