<div class="row">
    {{msg}}
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="name" id="name" placeholder="project name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Owner</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="owner" id="owner" placeholder="project owner id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" ng-model="description" id="description" placeholder="project description"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <button type="button" class="btn btn-primary" ng-click="create_project()">Create</button>
            </div>
        </div>
        <div class="row"><br/></div>
        <div class="row">
            <table id="running_job_list" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">
                <thead>
                    <tr>
                        <th>ID <span class="glyphicon glyphicon-eye-open"> </span></th>
                        <th>Owner</th>
                        <th>Description</th>
                        <th>Members</th>
                        <th>Volumes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects track by project.id">
                        <td ng-click="show_project(project)">{{::project.id}}</td>
                        <td>{{::project.owner}}</td>
                        <td>{{::project.description}}</td>
                        <td>{{::project.members.length}}</td>
                        <td><div ng-repeat="volume in ::project.volumes">{{volume.name}}:{{volume.path}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12" ng-if="project.id">
        <form class="form-horizontal">
        <h3>Name: {{project.id}}</h3>
        <div class="form-group">
            <label for="owner" class="col-sm-2 control-label">Owner</label>
            <div class="col-sm-4">
                <input class="form-control" ng-model="project.owner" id="owner" placeholder="owner id"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-4">
                <textarea class="form-control" ng-model="project.description" id="description" placeholder="project description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="prio" class="col-sm-2 control-label">Priority</label>
            <div class="col-sm-4">
                <input min="0" max="100" type="number" class="form-control" ng-model="project.prio" id="prio" placeholder="project priority (0 <-> 100)"/>
            </div>
        </div>
        <div class="form-group">
            <label for="quota_time" class="col-sm-2 control-label">Time quota</label>
            <div class="col-sm-4">
                <input  type="number" class="form-control" ng-model="project.quota_time" id="quota_time"/>
            </div>
        </div>
        <div class="form-group">
            <label for="quota_cpu" class="col-sm-2 control-label">CPU quota</label>
            <div class="col-sm-4">
                <input  type="number" class="form-control" ng-model="project.quota_cpu" id="quota_cpu"/>
            </div>
        </div>
        <div class="form-group">
            <label for="quota_ram" class="col-sm-2 control-label">RAM quota (Gb)</label>
            <div class="col-sm-4">
                <input  type="number" class="form-control" ng-model="project.quota_ram" id="quota_ram"/>
            </div>
        </div>
        </form>
        <h4>Volumes</h4>
        <form class="form-inline">
            <div class="form-group">
                <label for="newvolumename" class="control-label">Volume name</label>
                    <input class="form-control" ng-model="$parent.newvolumename" id="newvolumename" placeholder="Volume name"/>
            </div>
            <div class="form-group">
                <label for="newvolumepath" class="control-label">Volume host path</label>
                    <input class="form-control" ng-model="$parent.newvolumepath" id="newvolumepath" placeholder="/path/to/dir"/>
            </div>
            <div class="form-group">
                <label for="newvolumemount" class="control-label">Volume path in container</label>
                    <input class="form-control" ng-model="$parent.newvolumemount" id="newvolumemount" placeholder="/mnt/to/dir"/>
            </div>
            <div class="form-group">
                <label for="newvolumeacl" class="control-label">Volume ACL (ro/rw)</label>
                    <select class="form-control" ng-model="$parent.newvolumeacl" id="newvolumeacl">
                    <option value="ro">Read only</option>
                    <option value="rw">Read write</option>
                    </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="add_volume_project()">Add</button>
            </div>
        </form>
        <table class="table table-striped">
            <tr ng-repeat="volume in project.volumes">
                <td><div>{{volume.name}}    <span ng-click="delete_volume_project($index)" class="glyphicon glyphicon-trash"></div></td>
                <td>{{volume.path}}</td>
                <td>{{volume.acl}}</td>
                <td>{{volume.mount}}</td>
            </tr>
        </table>
        <h4>Members</h4>
        <form class="form-inline">
            <div class="form-group">
                <label for="newmember" class="control-label">Add member</label>
                    <input class="form-control" ng-model="$parent.newmember" id="newmember" placeholder="User id or group integer id"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="add_member_project()">Add</button>
            </div>
        </form>
        <table class="table table-striped">
            <tr ng-repeat="member in project.members">
                <td><div>{{member}}    <span ng-click="delete_member_project(member)" class="glyphicon glyphicon-trash"></div></td>
            </tr>
        </table>
        <div class="footer_actions">
            <button type="button" class="btn btn-primary" ng-click="update_project(project)">Update</button>
            <button type="button" class="btn btn-primary" ng-click="delete_project(project)">Delete</button>
        </div>
    </div>


</div>
