<div class="row">
    <div ng-if="msg" class="label label-warning">
        {{msg}}
    </div>
</div>
<div class="jumbotron">
    <div ng-if="! edit">
      <button ng-if="recipe.owner == user.id" class="btn pull-right" ng-click="edit_recipe()"><i class="glyphicon glyphicon-pencil"> </i></button>
      <h1>{{recipe.id}}  <button ng-if="recipe.owner == user.id" class="btn btn-danger" ng-click="delete_recipe()">DELETE</button></h1>
      <p>{{recipe.description}}</p>
      <p>Visibility: <small ng-if="recipe.visible">Public</small><small ng-if="! recipe.visible">Private</small></p>
      <p>Owner: {{recipe.owner}}</p>
      <p ng-if="recipe.task">Linked task id: <a ng-href="#/job/replay/{{recipe.task}}">{{recipe.task}}</a></p>
      <p ng-if="recipe.task"><a ng-href="#/job/replay/{{recipe.task}}"><button class="btn btn-primary"><li class="glyphicon glyphicon-play-circle"> </li> Play</button></a></p>
      <p ng-if="! recipe.task">Recipe not yet linked to a task</p>
    </div>
    <div ng-if="edit">
        <div class="row">
            <div class="form-group">
                <label for="rid" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" ng-model="recipe.id" id="rid" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="recipe.description" id="description" placeholder="task description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Public ?</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="recipe.visible">
                        <option value="true" >Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
<div class="row" ng-if="task">
<pre>
{{task.command.cmd}}
</pre>
</div>
